/* home  */
.homePage {
  text-align: center;
}

/* home */

/* register */
.sign-Up {
  text-align: center;
  flex: auto;
}
/* register */

/* login */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login {
  background-color: #080710;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: 'Poppins', sans-serif;
  color: wheat;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: black;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: wheat;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}
/* login */
/* chat */
.send {
  background-color: wheat;
  text-align: right;
  width: auto;
}
.input-chat {
  width: 30rem;
  color: black;
}
.chat-page {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  height: 90vh;
}

.input-message {
  grid-area: 9 / 3 / 10 / 8;
  background-color: grey;
  border: 2px solid;
}
.contact-list {
  grid-area: 2 / 8 / 8 / 9;
  background-color: cyan;
  border: 2px solid;
}
.chat {
  overflow: scroll;
  grid-area: 2/ 2/ 9 / 8;
  background-image: url('https://theabbie.github.io/blog/assets/official-whatsapp-background-image.jpg');
  border: 2px solid;
}
.chatContainer {
  border: 2px solid #dedede;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: '';
  clear: both;
  display: table;
}

.time {
  float: center;
  color: #aaa;
}

.time {
  float: center;
  color: #999;
}
.message {
  text-align: left;
  color: rgb(119, 124, 196);
}

.myMessage {
  text-align: right;
  color: green;
}
.time {
  color: black;
}
/* chat */
body {
  background-color: black;
}
