/* chat */
.input-chat {
  width: 30rem;
}
.chat-page {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  height: 90vh;
}

.input-message {
  grid-area: 8 / 2 / 9 / 7;
  background-color: brown;
  border: 2px solid;
}
.contact-list {
  grid-area: 2 / 7 / 9 / 9;
  background-color: cyan;
  border: 2px solid;
}
.chat {
  overflow: scroll;
  grid-area: 2 / 2 / 8 / 7;
  background-color: goldenrod;
  border: 2px solid;
}
.message {
  text-align: left;
  background-color: bisque;
}
.myMessage {
  text-align: right;
}

/* chat */

/* home  */
.homePage {
  text-align: center;
}

/* home */

/* register */
.sign-Up {
  text-align: center;
  flex: auto;
}
/* register */

/* login */
.login {
  text-align: center;
}
/* login */
